<div class="modal-header">
    <h4 class="modal-title">{{createMode ? 'Create Todo' : 'Edit Todo'}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="todoForm" (ngSubmit)="saveTodo()">
     <div class="form-group">
        <label for="nombre">nombre</label>
        <input type="text" id="nombre" placeholder="nombre" class="form-control" formControlName="nombre" />
        <span style="color:Red;" *ngIf="todoForm.controls['nombre'].touched && todoForm.controls['nombre'].errors?.required">nombre
          is required.</span></div>     
          <div class="form-group">
            <label for="correo">correo</label>
            <input type="email" id="correo" placeholder="correo" class="form-control" formControlName="correo" />
            <span style="color:Red;" *ngIf="todoForm.controls['correo'].touched && todoForm.controls['correo'].errors?.required">correo
              is required.</span>
          </div>
          <div class="form-group">
            <label for="telefono">telefono</label>
            <input type="number" id="telefono"  placeholder="telefono" class="form-control" formControlName="telefono" />
            <span style="color:Red;" *ngIf="todoForm.controls['telefono'].touched && todoForm.controls['telefono'].errors?.required">telefono
              is required.</span>
          </div>
          <div class="form-group">
            <label for="sexo">direccion</label>
            <input type="text" id="direccion" placeholder="direccion" class="form-control" formControlName="direccion" />
            <span style="color:Red;" *ngIf="todoForm.controls['direccion'].touched && todoForm.controls['direccion'].errors?.required">direccion
              is required.</span>
          </div>
      
    </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
      <button class="btn btn-primary" (click)="saveTodo()" [disabled]="todoForm.invalid">Save</button>
    </div>
    